.about {
	align-items: flex-start;

	h4 {
		align-self: flex-start;
		margin-left: -50px;
		padding-bottom: 30px;
		padding-top: 30px;
	}

	p {
		margin-bottom: 1em;
	}

	ul {
		list-style-type: none;
		padding-left: 40px;
	}

	li {
		font-family: 'Montserrat-Regular';
		font-size: 18px;
		line-height: 30px;
	}

	strong {
		color: var(--color-primary);
	}

	.profile {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
	}
	
	.profiles {
		align-self: center;
		column-gap: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-top: 50px;
	}
}
