.button {
	appearance: auto;
	border: 2px solid;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Montserrat-Bold';
	font-size: 16px;
	outline: none;
	padding: 8px 35px;
	text-decoration: none;
	text-transform: uppercase;
}

.button:disabled {
	cursor: default;
}

.large {
	font-size: 20px;
	padding: 16px 35px;
}

.primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: white;
}

.primary:disabled {
	background-color: var(--color-gray-2);
	border-color: var(--color-gray-2);
}

.primary-outlined {
	background-color: white;
	border-color: var(--color-primary);
	color: var(--color-primary);
}

.primary-outlined:disabled {
	border-color: var(--color-gray-2);
	color: var(--color-gray-2);
}

.primary:hover:enabled,
.primary-outlined:hover:enabled {
	background-color: var(--color-primary-light-1);
	border-color: var(--color-primary-light-1);
	color: white;
}

.primary:active,
.primary-outlined:active {
	background-color: var(--color-primary-dark-1);
	border-color: var(--color-primary-dark-1);
	color: white;
}

.secondary {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
	color: white;
}

.secondary-outlined {
	background-color: white;
	border-color: var(--color-secondary);
	color: var(--color-secondary);
}

.secondary:hover,
.secondary-outlined:hover {
	background-color: var(--color-secondary-light-1);
	border-color: var(--color-secondary-light-1);
	color: white;
}

.secondary:active,
.secondary-outlined:active {
	background-color: var(--color-secondary-dark-1);
	border-color: var(--color-secondary-dark-1);
	color: white;
}
