.comment-card {
    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-row {
        display: flex;
    }

    .grow {
        flex: 1;
    }

    .user {
        margin-bottom: 20px;
        margin-right: 20px;
    }
}
