.footer {
	align-items: center;
	background-color: var(--color-primary-dark-1);
	display: flex;
	height: 100px;
	justify-content: space-between;
	padding: 0 120px;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	padding-left: 60px;
}

p,
a {
	font-family: 'Montserrat-Regular';
	font-size: 18px;
	color: var(--color-black);
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}
