.header {
	nav {
		align-items: center;
		background: var(--color-primary);
		display: flex;
		height: 100px;
		justify-content: space-between;
		padding: var(--page-padding);
	}

	a {
		color: white;
		font-family: "Montserrat-Medium";
		font-size: 18px;
		text-decoration: none;
		text-transform: uppercase;
	}

	a:hover {
		color: var(--color-primary-dark-1);
	}

	ul {
		list-style-type: none;
	}

	.left-links {
		align-items: center;
		display: flex;

		li {
			padding-right: var(--button-padding);
		}
	}

	.right-links {
		display: flex;

		li {
			padding-left: var(--button-padding);
		}
	}

	.logo {
		height: 30px;
	}

	.profile-button {
		align-items: center;
		display: flex;

		img {
			margin-left: 20px;
		}
	}
}
