:root {
    --button-padding: 50px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    min-width: 1150px;
    padding: 0 120px;

    background: var(--color-primary);
    // position: sticky;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: white;
}
a:hover {
    color: var(--color-primary-dark-1);
}

ul {
    list-style-type: none; 
}

.left-links {
    display: flex;
    justify-content: space-around;
}

.left-links li {
    padding-right: var(--button-padding);
}

.right-links { 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
}

.right-links li {
    padding-left: var(--button-padding);
}