.home {
    align-items: flex-start;
    background-image: url('../assets/images/hero-image.png'); 
    background-origin: content-box;
    background-position: right;
    background-repeat: no-repeat;
    justify-content: center;
    max-width: 1600px;
    padding: var(--page-padding);

    h3 {
        padding-bottom: 100px;
    }

    .hero-text {
        width: 60%;
    }
}
