.home {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/hero-image.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right;
}

.home-box {
    width: 80vw;
    align-self: center;
}

.home-box h3 {
    max-width: 579px;
    padding-bottom: 10vh;
    margin: 10px;
}

.home-buttons {
    margin-left: 40px;
}