.modal {
	a:hover {
		color: var(--color-primary-light-1);
	}

	h3 {
		padding-bottom: 15px;
	}

	input[type="email"],
	input[type="password"],
	input[type="text"] {
		flex: 1;
	}

	input[type="checkbox"] {
		margin-left: 150px;
		white-space: nowrap;
	}

	.container {
		display: flex;
		flex-direction: column;
		padding: 30px 50px;
	}

	.button {
		margin-top: 30px;
		width: 100%;
	}

	.width130 {
		text-align: right;
		width: 130px;
	}

	.line {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	.line label {
		display: inline-block;
		padding-right: 20px;
	}
}
