.post-create {
	align-items: flex-end;

	input,
	textarea {
		width: 520px;
	}

	textarea {
		height: 100px;
		resize: none;
	}

	.button {
		align-self: flex-end;
		margin: 50px 0;
	}

	.line {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	label {
		padding-right: 20px;
		padding-bottom: 5px;
		text-align: right;
		width: 200px;
	}

	// .line label {
	// 	display: inline-block;
	// 	padding-right: 20px;
	// 	text-align: right;
	// 	width: 200px;
	// }
}
