.profile-dropdown {
	background-color: white;
	position: absolute;
	right: 0px;
	top: 100px;
	width: 250px;

	.dropbutton {
		cursor: pointer;
		height: 40px;

		img {
			float: left;
			padding: 8px;
		}

		p {
			color: var(--color-black);
			padding-top: 5px;
		}

		&:active {
			background-color: var(--color-primary-dark-1);
		}

		&:hover {
			background-color: var(--color-primary-light-1);

			p {
				color: white;
			}
		}
	}
}
