.terms {
	ol {
		counter-reset: item;
		list-style-type: none;
		padding-bottom: 20px;
	}

	ol > li {
		counter-increment: item;
		display: table;
	}

	ol > li:before {
		content: counters(item, '.') '. ';
		display: table-cell;
		padding-right: 0.6em;
	}

	li ol > li:before {
		content: counters(item, '.') ' ';
	}

	li {
		font-family: 'Montserrat-Regular';
		font-size: 18px;
		line-height: 30px;
	}

	p {
		align-self: flex-start;
		margin-bottom: 1em;
	}

	input,
	textarea {
		width: 520px;
	}

	textarea {
		height: 100px;
		resize: none;
	}

	.button {
		align-self: flex-end;
		margin: 50px 0;
	}

	.line {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	.line label {
		display: inline-block;
		padding-right: 20px;
		text-align: right;
		width: 200px;
	}
}
