.user-card-for-driver {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	
	.align-end {
		align-items: flex-end;
	}
	
	.flex-column {
		display: flex;
		flex-direction: column;
	}

	.flex-row {
        display: flex;
	}
	
	.grow {
		flex: 1;
	}

	.user {
		margin-right: 20px;
	}
}
