.user {
	display: flex;
	flex-direction: column;

	& > div:nth-child(odd) {
		background-color: var(--color-gray-1);
		flex: 1;
		margin: 0 -9999rem;
		padding: 0 9999rem;
	}

	small.fixed-width {
		padding-right: 20px;
		text-align: right;
		min-width: 200px;
	}
}
